openapi: 3.0.4
info:
  title: Rooms API - OpenAPI 3.0
  version: 1.0.0
externalDocs:
  description: Find out more about Swagger
  url: https://swagger.io
servers:
  - url: https://rooms.thefirstspine.fr
tags:
  - name: subjects
  - name: rooms
  - name: messages
paths:
  /subjects:
    get:
      tags:
        - subjects
      summary: Get available subjects
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Subject'
  /subjects/:subjectName:
    get:
      tags:
        - subjects
      summary: Get details of a subject
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subject'
  /subjects/:subjectName:/rooms:
    get:
      tags:
        - rooms
      summary: Get available rooms for a subject
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Room'
    post:
      tags:
        - rooms
      summary: Create a new room for a subject
      requestBody:
        content:
          application/json:
            schema:
              required:
                - name
              properties:
                name:
                  type: string
                senders:
                  type: array
                  items:
                    type: object
                    properties:
                      user:
                        type: string
                      displayName:
                        type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Room'
  /subjects/:subjectName:/rooms/:roomName:
    get:
      tags:
        - rooms
      summary: Get details of a room
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Room'
  /subjects/:subjectName:/rooms/:roomName/senders:
    post:
      tags:
        - rooms
      summary: Add sender to a room
      requestBody:
        content:
          application/json:
            schema:
              required:
                - user
                - displayName
              properties:
                user:
                  type: string
                displayName:
                  type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Room'
  /subjects/:subjectName:/rooms/:roomName/senders/:user:
    delete:
      tags:
        - rooms
      summary: Remove sender from a room
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Room'
  /subjects/:subjectName:/rooms/:roomName/messages:
    post:
      tags:
        - messages
      summary: Add a message to a room
      requestBody:
        content:
          application/json:
            schema:
              required:
                - message
              properties:
                message:
                  type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
    get:
      tags:
        - messages
      summary: Get all the messages in a room
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Message'
  /subjects/:subjectName:/rooms/:roomName/messages/secure:
    post:
      deprecated: true
      tags:
        - messages
      summary: Add a message to a room
      requestBody:
        content:
          application/json:
            schema:
              required:
                - message
              properties:
                message:
                  type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'


components:
  schemas:
    Subject:
      type: object
      properties:
        name:
          type: string
    Room:
      type: object
      properties:
        name:
          type: string
        subject:
          type: string
        timestamp:
          type: integer
        senders:
          type: array
          items:
            type: object
            properties:
              user:
                type: integer
              displayName:
                type: string
    Message:
      type: object
      properties:
        message:
          type: string
        user:
          type: integer
        timestamp:
          type: integer
